@using InvestLink_BLL.Interfaces
@using InvestLink_DAL.Entities
@using Microsoft.AspNetCore.Identity


@{
    ViewBag.Title = "Index ";
}

@inject SignInManager<IdentityUser> signInManager
@inject IProject iproject;
@inject IProjectInvestor iprojectInvestor
@inject IInvestor iInvestor
@inject ILicense iLicense
@inject UserManager<IdentityUser> userManager


@{
    var user = await userManager.GetUserAsync(signInManager.Context.User);
    var email = await signInManager.UserManager.GetEmailAsync(user);
    IEnumerable<License> licenses;
    @if (User.IsInRole("Investor"))
    {
        var investor = await iInvestor.GetByEmailAsync(email);
        var investorId = investor.Id;
        var projectInvestor = await iprojectInvestor.GetAllAsync(investorId);
        var project = await iproject.GetAllAsync(projectInvestor);
        licenses = await iLicense.GetAllAsync(project);


    }
    else
    {
        licenses = await iLicense.GetAllAsync();
    }
}


<h6 class="mb-0 text-uppercase">الطلبات</h6>
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">الاسم</th>
                    <th scope="col">رقم ترخيص</th>
                    <th scope="col">تاريخ  إنشاء</th>
                    <th scope="col">تاريخ إنتهاء  </th>
                    <th scope="col">حالة رخصة</th>
                   
                </tr>
            </thead>

              <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in licenses)
                {
                    Count++;
                   <tr>
                        <th scope="row">
                            <div style="width: 40px; height: 40px; background: linear-gradient(135deg, rgba(79, 172, 254, 0.1) 0%, rgba(0, 242, 254, 0.1) 100%); border-radius: 10px; display: flex; align-items: center; justify-content: center; font-weight: 700; color: #4facfe;">
                                @Count
                            </div>
                        </th>
                        <td>@Item.LicenseNumber</td>
                        <td>@Item.Project?.Name</td>
                        <td>@Item.CreatedDate</td>
                        <td>@Item.ExpireDate</td>
                        
                        <td>


                        @if (Item.ExpireDate > DateTime.Now)
                        {
                        <td>

                            <span class="badge bg-light-success text-success w-25 py-2 d-flex justify-content-center align-items-center" style="height: auto;">
                                سارية
                            </span>
                        </td>
                        }
                        else
                        {
                            <td>
                                <span class="badge bg-light-danger text-danger py-2 d-flex justify-content-center align-items-center" style="width: 35%; height: auto;">
                                    منتهية
                                </span>
                            </td>

                              
                           

                        }
                     

                    </tr>
                 
                }
            </tbody>
        </table>
    </div>
</div>


