@model IEnumerable<InvestLink_BLL.Models.ProjectVM>
@{
    ViewBag.Title = "RejectedRequests ";
}


<h6 class="mb-0 text-uppercase">الطلبات </h6>
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col">تاريخ إنشاء</th>
                    <th scope="col">تفاصيل</th>

                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in Model)
                {
                    Count++;
                    <tr>
                        <th scope="row">@Count</th>

                        <td>@Item.Name</td>
                        <td>@Item.CreationData</td>
                        <td>
                            <div class="col">
                                <a asp-controller="Project" asp-action="Details" asp-route-Id=@Item.Id class="btn btn-secondary px-5">
                                    <ion-icon name="document-text-sharp"></ion-icon> تفاصيل
                                </a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>