@model InvestLink_BLL.Models.NationalityVM

@{
    ViewBag.Title = "Delete";
}




<div class="card">
    <div class="card-header">
        <h6 class="mb-0">إنشاء جنسيات</h6>
    </div>
    <div class="card-body">

        <form asp-controller="Nationality" asp-action="Delete">
            <div class="col-md-6">
            <label asp-for="Name" class="form-label">الجنسية</label>
            <input type="text" class="form-control mb-3" asp-for="Name" readonly>
       </div>
            <div class="col-md-6">
            <input type="submit" value="حذف" class="btn btn-success waves-effect" />
            <a asp-controller="Nationality" asp-action="Index" class="btn btn-outline-secondary px-4">رجوع</a>
        </div>
        
        </form>
    </div>
</div>