@model InvestLink_BLL.Models.RoleVM
@using Microsoft.AspNetCore.Identity


@{
    ViewBag.Title = "Create Role";
}

<div class="card">
    <div class="card-body">
        <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">إنشاء صلاحية</h6>
            <hr>

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <form asp-controller="Role" asp-action="Create" class="row g-3">

            

                <div class="col-12">
                    <label asp-for="Name" class="form-label">اسم صلاحية</label>
                    <input type="text" asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-6">
                <input type="submit" value="حفظ" class="btn btn-success waves-effect" />
                <a asp-controller="Role" asp-action="Index" class="btn btn-outline-secondary px-4">رجوع</a>

                </div>
            </form>
        </div>
    </div>
</div>




