@using Microsoft.AspNetCore.Identity
@model IdentityRole;

@{
    ViewBag.Title = "Delete";
}

        <div class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">حذف صلاحية</h6>
                    <hr>
            <form asp-controller="Role" asp-action="Delete" class="row g-3">
                <input type="hidden" asp-for="Id">
                        <div class="col-12">
                           
                    <input type="text" asp-for="Name" class="form-control" readonly>
                        </div>


                <div class="col-6">

                <input type="submit" value="حذف" class="btn btn-success waves-effect" />
                <a asp-controller="Role" asp-action="Index" class="btn btn-outline-secondary px-4">رجوع</a>

                </div>
              
                    </form>
                </div>
            </div>
        </div>
