@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Index ";
}

<h6 class="mb-0 text-uppercase">الصلاحيات </h6>
<br />

<a asp-controller="Role" asp-action="Create" class="btn btn-info waves-effect">
    <i class="material-icons">create</i>
    <span>Create</span>
</a>
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Details</th>
                    @* <th scope="col"> البريد الالكتروني</th> *@

                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in Model)
                {
                    Count++;
                    <tr>
                        <th scope="row">@Count</th>

                        @* <td>@Item.Id</td> *@
                        <td>@Item.Name</td>
                        <td>

                            <a asp-controller="Role" asp-action="Update" asp-route-Id=@Item.Id class="btn btn-success waves-effect">
                                <i class="material-icons">Update</i>
                                <span>Update</span>
                            </a>
                        </td>

                        <td>
                            <a asp-controller="Role" asp-action="Delete" asp-route-Id=@Item.Id class="btn btn-danger waves-effect">
                                <i class="material-icons">Delete</i>
                                <span>Delete</span>
                            </a>
                        </td>

                        <td>

                            <a asp-controller="Role" asp-action="Details" asp-route-Id=@Item.Id class="btn btn-danger waves-effect">
                                <i class="material-icons">Details</i>
                                <span>Details</span>
                            </a>
                        </td>

                        @* <td>

                            <a asp-controller="User" asp-action="Details" asp-route-Id=@Item.Id class="btn btn-danger waves-effect">
                                <i class="material-icons">delete</i>
                                <span>حذف</span>
                            </a>
                        </td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>