
@using InvestLink_BLL.Models
@using Microsoft.AspNetCore.Identity
@model EmployeeVM

@{
    ViewBag.Title = "Create ";
}

<div class="card">
    <div class="card-body">
        <div class="border p-3 rounded">
            <h6 class="mb-0 text-uppercase">إضافة موظف جديد</h6>
            <hr>

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <form asp-controller="User" asp-action="Create" class="row g-3">

                <input type="hidden" asp-for="Id">
                <div class="col-12">
                <label asp-for="Name" class="form-label">الاسم</label>
                <input asp-for="Name" class="form-control" placeholder="أدخل اسم المستثمر" />
                <span asp-validation-for="Name" class="text-danger"></span>
               </div>

        <div class="col-12">
            <label asp-for="Email" class="form-label">البريد الإلكتروني</label>
            <input asp-for="Email" class="form-control" type="email" placeholder="example@mail.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label">رقم الهاتف الأساسي</label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="09xxxxxxxx" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="SecondPhoneNumber" class="form-label">رقم الهاتف الثانوي (اختياري)</label>
            <input asp-for="SecondPhoneNumber" class="form-control" placeholder="09xxxxxxxx" />
            <span asp-validation-for="SecondPhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Password" class="form-label">كلمة المرور</label>
            <input asp-for="Password" class="form-control" type="password" placeholder="أدخل كلمة مرور قوية" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>


        <div class="col-md-6">
            <label asp-for="Role" class="form-label">الصلاحية</label>
                    <select asp-for="Role" class="form-select" asp-items="ViewBag.Roles">
                <option value="">اختر الصلاحية</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="col-12 col-lg-6">
            <select class="form-select mb-3" asp-for="NationalityId" asp-items="(SelectList)ViewBag.NationalityList">
                <option value=""> اختر  الجنسية</option>
            </select>
            <span asp-validation-for="NationalityId" class="text-danger"></span>
        </div>



        <div class="col-12">
                    <div class="d-flex justify-content-center gap-2 mt-3">
                        <input type="submit" value="حفظ" class="btn btn-success px-4" />


                        <a asp-controller="User" asp-action="Index" class="btn btn-secondary btn-sm px-4">الرجوع </a>

                    </div>
                </div>
            </form>
        </div>
    </div>



