@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewBag.Title = "Index ";
}


<a asp-controller="Nationality" asp-action="Create" class="btn btn-info waves-effect">
    <i class="fadeIn animated bx bx-pencil"></i>

</a>
<br />
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col"> البريد الالكتروني</th>

                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in Model)
                {
                    Count++;
                    <tr>
                        <th scope="row">@Count</th>

                        <td>@Item.UserName</td>
                        <td>@Item.Email</td>
                        <td>

                            <a asp-controller="User" asp-action="Update" asp-route-Id=@Item.Id class="btn btn-success waves-effect">
                                <i class="fadeIn animated bx bx-refresh"></i>
                            </a>
                        </td>

                        <td>

                            <a asp-controller="User" asp-action="Delete" asp-route-Id=@Item.Id class="btn btn-danger waves-effect">
                                <i class="fadeIn animated bx bx-trash-alt"></i>
                            </a>
                        </td>

                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>