@model IEnumerable<InvestLink_BLL.Models.AdvertisementVM>
@{
    ViewBag.Title = "Index ";
}

@* //------------------------- *@

@{
    ViewBag.Title = "Index ";
}

﻿@using InvestLink_BLL.Interfaces
@using InvestLink_DAL.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager

@inject IEmployee iEmployee;
@inject IAdvertisement iAdvertisement;



@{
    var user = await signInManager.UserManager.GetUserAsync(signInManager.Context.User);
    var email = await signInManager.UserManager.GetEmailAsync(user);

    // متغير
    IEnumerable<Advertisement> Advertisements;

    // obj from identity user

    if (User.IsInRole("Admin") && User.IsInRole("HeadOfService"))
    {
        var iEmp = await iEmployee.GetByEmailAsync(email);
        var iEmptId = iEmp.Id;

        var IEAdvertisement = await iAdvertisement.GetAllAsync();

    }
    else
    {
        var IEAdvertisement = await iAdvertisement.GetAllAsync();
    }

}
}




@* <h6 class="mb-0 text-uppercase">المشاريع </h6> *@
<a asp-controller="Advertisement" asp-action="Create" class="btn btn-primary">
    إضافة الإعلان
</a>
<br />
<br />

<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col"> الاجراءات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in Model)
                {
                    Count++;
                    <tr>
                        <th scope="row">@Count</th>

                        <td>@Item.Name</td>
                        <td>@Item.Description</td>
                        @* <td>
                            <a asp-controller="Advertisement" asp-action="Create" class="btn btn-primary">
                                إصدار تقرير
                            </a>
                        </td> *@

                        <td>
                            <a asp-controller="Advertisement" asp-action="Update" asp-route-Id=@Item.Id  class="btn btn-success">
                                تعديل الإعلان
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Advertisement" asp-action="Details" asp-route-Id=@Item.Id  class="btn btn-success">
                                تفاصيل الإعلان
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Advertisement" asp-action="Delete" asp-route-Id=@Item.Id  class="btn btn-success">
                                حذف الإعلان
                            </a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>