@model IEnumerable<InvestLink_BLL.Models.AdvertisementVM>
@{
    ViewBag.Title = "Index ";
}


<h6 class="mb-0 text-uppercase"></h6>
<hr>
<a asp-controller="Advertisement" asp-action="Create" class="btn btn-info waves-effect">
    <i class="fadeIn animated bx bx-pencil"></i>
</a>
<br />
<br />


<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col"> الوصف</th>
                    <th scope="col"> الاجراءات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in Model)
                {
                    Count++;
                    <tr>
                        <th scope="row">@Count</th>

                        <td>@Item.Name</td>
                        <td>@Item.Description</td>
                        

                        <td>
                            <a asp-controller="Advertisement" asp-action="Update" asp-route-Id=@Item.Id  class="btn btn-success waves-effect">
                               <i class="fadeIn animated bx bx-refresh"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Advertisement" asp-action="Details" asp-route-Id=@Item.Id  class="btn btn-secondary">
                                <i class="fadeIn animated bx bx-file-blank"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Advertisement" asp-action="Delete" asp-route-Id=@Item.Id class="btn btn-danger waves-effect">
                                <i class="fadeIn animated bx bx-trash-alt"></i>
                            </a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>