@model InvestLink_BLL.Models.ForgetPasswordVM





        <div class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
            <h6 class="mb-0 text-uppercase">هل نسيت كلمة السر؟</h6>
            <h6 class="mb-0 text-uppercase">    أدخل البريد الإلكتروني المرتبط بحسابك وسنرسل لك رابط لإعادة تعيين كلمة المرور.</h6>


        
                    <hr>
                    <form class="row g-3">
                        <div class="col-12">
                    <label asp-for="Email" class="form-label">البريد الالكتروني</label>
                    <input type="text" asp-for="Email" class="form-control">
                        </div>
                      
                        <div class="col-12">
                            <div class="d-grid">

                        <input type="submit" class="btn btn-primary" value="إعادة تعيين كلمة المرور الخاصة بي" />
                        <a asp-controller="Account" asp-action="Login" class="fa-solid fa-arrow-right-to-bracket"> تسجيل دخول</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
