@using InvestLink_BLL.Interfaces
@using InvestLink_DAL.Entities
@using Microsoft.AspNetCore.Identity

@{
    ViewBag.Title = "Index ";
}
@inject SignInManager<IdentityUser> signInManager

@inject ICoordinatorReport icoordinatorReport;

@inject IEmployee iEmployee;



@{
    var user = await signInManager.UserManager.GetUserAsync(signInManager.Context.User);
    var email = await signInManager.UserManager.GetEmailAsync(user);

    // متغير
    IEnumerable<CoordinatorReport> coordinatorReports;

    //obj from identity user
    if (User.IsInRole("FollowUpEmployee"))
    {
        var iEmp = await iEmployee.GetByEmailAsync(email);
        var iEmptId = iEmp.Id;

        

        coordinatorReports = await icoordinatorReport.GetAllAsync(iEmptId);
    }
    else
    {
        coordinatorReports = await icoordinatorReport.GetAllAsync();
    }

}



@* لموظف المتابعة *@
<hr>
<a asp-controller="CoordinatorReport" asp-action="Create"  class="btn btn-info waves-effect">
   <i class="fadeIn animated bx bx-pencil"></i>
</a>
<br />
<br />
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
           
              
           
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم</th>
                    <th scope="col"> موقع المشروع</th>
                  
                    <th scope="col"> الاجراءات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Count = 0;
                }
                @foreach (var Item in coordinatorReports)
                {
                    Count++;
                    <tr>
                        <th scope="row">
                            <div style="width: 40px; height: 40px; background: linear-gradient(135deg, rgba(79, 172, 254, 0.1) 0%, rgba(0, 242, 254, 0.1) 100%); border-radius: 10px; display: flex; align-items: center; justify-content: center; font-weight: 700; color: #4facfe;">
                                @Count
                            </div>
                        </th>

                        <td>@Item.ProjectCoordinator.Project?.Name</td>
                        <td>@Item.ProjectCoordinator.Project?.ProposedSite</td>                    
                        <td>
                            <a asp-controller="CoordinatorReport"
                               asp-action="Update"
                               asp-route-Id="@Item.Id"
                               class="btn btn-success">
                                <i class="fadeIn animated bx bx-refresh"></i>
                            </a>
                          
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>