@using InvestLink_BLL.Models
@using InvestLink_DAL.Entities
@model InvestLink_BLL.Models.EmployeeVM

@* //--------------------------------- *@
@using InvestLink_BLL.Interfaces
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager

@inject IEmployee iEmployee;
@{
    ViewBag.Title = "Update";
}

@{
    var user = await signInManager.UserManager.GetUserAsync(signInManager.Context.User);
    var email = await signInManager.UserManager.GetEmailAsync(user);
    var employeeId = iEmployee.GetIdByEmail(email);
    // var EmployeeId = employeeId.Id;
}




<!-- start page content wrapper-->
<div class="page-content-wrapper">
    <!-- start page content-->
    <div class="page-content">



        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card radius-10">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form asp-controller="Investor" asp-action="Update" method="post" enctype="multipart/form-data" id="applicationForm">
                            <input type="hidden" asp-for="Id" value="@employeeId"  />
                            <h5 class="mb-3">Edit Profile</h5>
                            <h5 class="mb-0 mt-4">User Information</h5>
                            <hr>
                            <div class="row g-3">
                                <div class="col-6">
                                    <label class="form-label">اسم الموظف</label>
                                    <input type="text" asp-for="Name" class="form-control">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="col-6">
                                    <label class="form-label">رقم الموظف</label>
                                    <input type="text" asp-for="Id" class="form-control">
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>


                                <div class="col-6">
                                    <label class="form-label">البريد الإلكتروني</label>
                                    <input type="Email" asp-for="Email" class="form-control" value="@email" readonly>
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>

                                صالحة, [15/01/26 04:05 م]
                                <h5 class="mb-0 mt-4">Contact Information</h5>
                                <hr>

                                


                            </div>
                            <div class="text-start mt-3">
                                <button type="submit" class="btn btn-primary px-4">حفظ التغييرات</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div><!--end row-->

    </div>
    <!-- end page content-->
</div>


